!!! 5
html(lang="tr")
  head
    meta(charset="utf-8")
    meta(name="description", content="test")
    meta(name="author", content="Erhan Gundogan")
    meta(http-equiv="Content-Style-Type", content="text/css")
    meta(http-equiv="Content-Script-Type", content="text/javascript")

    title mon4mongo

    // Styles
    //link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css")
    link(rel="stylesheet", href=base+"public/style/bootstrap.css")
    link(rel="stylesheet", href=base+"public/style/main.css")
    link(rel="stylesheet", href=base+"public/style/iphone-styles.css")

    //if lt IE 8
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    //script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src=base+"public/js/jquery/jquery.min.js")
    script(src=base+"public/js/jquery/iphone-style-checkboxes.js")
    script(src=base+"public/js/methods.js")
    //script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js")
  body
    .container-fluid
      !=partial("master/header")
      !=partial("master/sidebar")
      !=body
    footer
      p mon4mongo by&nbsp;
        a(target="_blank", href="http://mass.io") mass
        | &nbsp;2011

